
@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Indie+Flower&family=Love+Light&family=Moon+Dance&family=Source+Sans+Pro:wght@300&family=Titillium+Web&family=Vujahday+Script&display=swap');

body{
    margin: 0%;
    padding: 0%;
    font-family: 'Titillium Web', sans-serif;
}
.container{
    width: 100%;
    height: 100vh;
    background-color: black;
}
.backvdo{
    width: 100%;
    height: 100%;
    min-height: 50%;
    margin: 0%;
}
.front{
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
}
.front h1{
    color: whitesmoke;
    position: relative;
    top: 4rem;
    font-family: 'Bungee', cursive;
    font-size: xx-large;
    font-weight: bolder;
}
.inout{
    position: relative;
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 10rem 0;
}
.inputbox{
    background-color:darkgray;
    outline: none;
    border: 1px solid;
    padding: 1rem;
    resize: none;
    font-size: medium;
    border-radius: 0.3rem;
    min-width: 20%;
    color: black;
}
.submitbtn{
    padding: 5rem auto;
    margin: auto 2rem;

}
.outputbox{
    background-color: darkgray;
    border: 1px solid;
    width: 25%;
    border-radius: 0.3rem;
}
.outputtext{
    color: black;
    display: block;
    padding: 1rem;
}
